.register {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__breadcrumb {
        width: 1400px;
    }
    &__header {
        width: 1400px;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__container {
        width: 1400px;
        margin-bottom: 60px;
        display: flex;
        justify-content: center;
        gap: 30px;
        &--sections {
            width: 568px;
            height: 416px;
            background-color: #F5F7FF;
            padding: 40px 50px;
            // &_label {}
            &_group {
                display: flex;
                gap: 20px;
                align-items: center;
                &-login {
                    width: 151px;
                    height: 50px;
                    border-radius: 25px;
                    background-color: #0156FF;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    color: #FFFFFF;
                    font-size: 14px;
                    font-weight: 600;
                }
                &-recover {
                    color: #0156FF;
                    cursor: pointer;
                }
            }
            &_header {
                font-size: 18px;
                font-weight: 600;
            }
            &_text {
                margin: 15px 0;
            }
            &_list {
                padding-left: 20px;
                margin-bottom: 20px;
                &-elements {
                    list-style: disc;
                    &:not(:last-of-type) {
                        margin-bottom: 5px;
                    }
                }
            }
            &_submit {
                width: 208px;
                height: 50px;
                border-radius: 25px;
                background-color: #0156FF;
                outline: none;
                border: none;
                cursor: pointer;
                color: #FFFFFF;
                font-size: 14px;
                font-weight: 600;
            }
        }
    }
    &__services {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0;
        background-color: #F5F7FF;
    }
}
.register-label__header {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
    &--symbol {
        color: #C94D3F;
    }
}
.register-label__input {
    width: 450px;
    height: 50px;
    border: 2px solid #D5D8E1;
    border-radius: 6px;
    padding-left: 20px;
    outline: none;
    &::placeholder {
        color: #D5D8E1;
    }
    margin-bottom: 20px;
}