.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__breadcrumb {
        width: 921px;
        margin-right: 480px;
    }
    &__header {
        font-size: 32px;
        font-weight: 600;
        width: 921px;
        margin-right: 480px;
        margin-bottom: 25px;
    }
    &__container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        &--main {
            width: 925px;
            &_text {
                font-size: 16px;
                line-height: 30px;
                margin-bottom: 30px;
            }
            &_form {
                display: flex;
                flex-wrap: wrap;
                gap: 20px;
                &-group {
                    width: 450px;
                    display: flex;
                    flex-direction: column;
                    &:last-of-type {
                        margin-right: 100px;
                        :nth-child(2) {
                            width: 921px;
                            min-height: 241px;
                            padding-top: 15px;
                            resize: none;
                            overflow-y: auto;
                        }
                    }
                    &__label {
                        font-size: 13px;
                        font-weight: 600;
                        margin-bottom: 10px;
                        &--symbol {
                            color: #C94D3F;
                        }
                    }
                    &__input {
                        font-size: 14px;
                        height: 45px;
                        padding-left: 15px;
                        outline: none;
                        border: 1px solid #A2A6B0;
                        border-radius: 6px;
                        &::placeholder {
                            color: #A2A6B0;
                        }
                    }
                }
            }
            &_submit {
                margin-top: 20px;
                font-size: 14px;
                font-weight: 600;
                color: #FFFFFF;
                background-color: #0156FF;
                width: 150px;
                height: 50px;
                border-radius: 25px;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 150ms ease-in-out;
                &:hover {
                    color: #0156FF;
                    background-color: #FFFFFF;
                    box-shadow: 0 0 10px #0156FF;
                }
            }
        }
        &--aside {
            width: 411px;
            height: 404px;
            background-color: #F5F7FF;
            padding: 30px;
            &_table {
                width: auto;
                &-rows {
                    width: auto;
                    &:last-of-type {
                        color: #0156FF;
                        :nth-child(1) {
                            color: #000000;
                        }
                    }
                    &-cells {
                        font-size: 14px;
                        padding-bottom: 10px;
                        // border: 1px solid red;
                        &:first-of-type {
                            padding-right: 10px;
                            padding-bottom: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                        }
                        &_header {
                            font-size: 18px;
                            font-weight: 600;
                            line-height: 40px;
                        }
                    }
                }
            }
        }
    }
    &__services {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 100px;
        padding: 60px 0px;
        background-color: #F5F7FF;
    }
}
.contact-table-icons {
    width: auto;
    text-align: center;
}