.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout__breadcrumb {
  width: 1400px;
}
.checkout__breadcrumb .breadcrumb__blocks--icons {
  font-size: 12px;
}
.checkout__breadcrumb .breadcrumb__blocks--links {
  font-size: 12px;
}
.checkout__topside {
  width: 1400px;
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
}
.checkout__topside--information {
  display: flex;
  gap: 30px;
  align-items: center;
}
.checkout__topside--information_h1 {
  font-size: 32px;
  font-weight: 600;
}
.checkout__topside--information_btn {
  width: 208px;
  height: 50px;
  border: 2px solid #0156FF;
  border-radius: 25px;
  color: #0156FF;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout__topside--progress {
  display: flex;
}
.checkout__topside--progress_group {
  width: 194px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.checkout__topside--progress_group:last-of-type {
  opacity: 0.5;
  filter: saturate(0);
}
.checkout__topside--progress_group-icon {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #0156FF;
  color: #0156FF;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.checkout__topside--progress_group-icon__rectangle {
  width: 75px;
  height: 2px;
  background-color: #0156FF;
  position: absolute;
}
.checkout__topside--progress_group-icon__rectangle:first-of-type {
  left: 100%;
}
.checkout__topside--progress_group-icon__rectangle:last-of-type {
  right: 100%;
}
.checkout__topside--progress_group-icon__symbol {
  font-size: 15px;
  font-weight: 600;
}
.checkout__topside--progress_group-text {
  margin-top: 10px;
  font-size: 16px;
}
.checkout__h3 {
  width: 1400px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}
.checkout__container {
  width: 1400px;
  display: flex;
  justify-content: space-between;
}
.checkout__container--main {
  width: 924px;
}
.checkout__container--main_group {
  border-top: 2px solid #CACDD8;
  border-bottom: 2px solid #CACDD8;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.checkout__container--main_group-h4 {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 15px;
}
.checkout__container--main_group-h4__symbol {
  color: #C94D3F;
}
.checkout__container--main_group-inputs {
  width: 565px;
  height: 50px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 2px solid #A2A6B0;
  border-radius: 6px;
  outline: none;
  padding: 0px 20px;
}
.checkout__container--main_group-text {
  font-size: 13px;
  color: #666666;
  margin-bottom: 10px;
}
.checkout__container--main_selection-h4 {
  font-size: 13px;
  font-weight: 600;
  margin: 10px 0;
}
.checkout__container--main_selection-labels {
  margin-bottom: 10px;
  display: flex;
  width: 740px;
  position: relative;
}
.checkout__container--main_selection-labels__radiobtn {
  margin-right: 5px;
}
.checkout__container--main_selection-labels__text {
  display: inline;
}
.checkout__container--main_selection-labels__price {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
}
.checkout__container--main_submit {
  width: 210px;
  height: 50px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  background-color: #0156FF;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-top: 30px;
}
.checkout__container--aside {
  width: 446px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #F5F7FF;
  padding: 20px 30px;
}
.checkout__container--aside_header {
  font-size: 24px;
  font-weight: 600;
}
.checkout__container--aside_rectangle {
  width: 100%;
  height: 2px;
  background-color: #CACDD8;
  margin: 20px 0 10px 0;
}
.checkout__container--aside_cartcontainer {
  font-size: 14px;
}
.checkout__container--aside_cartcontainer-showbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.checkout__container--aside_cartcontainer-showbtn__info {
  width: -moz-fit-content;
  width: fit-content;
}
.checkout__container--aside_cartcontainer-showbtn__icon {
  filter: brightness(0.5);
}
.checkout__container--aside_cartcontainer-cartitems {
  margin-top: 15px;
}
.checkout__container--aside_cartcontainer-cartitems__card {
  display: flex;
  margin-bottom: 20px;
}
.checkout__container--aside_cartcontainer-cartitems__card--image {
  margin-right: 15px;
}
.checkout__container--aside_cartcontainer-cartitems__card--image_content {
  width: auto;
}
.checkout__container--aside_cartcontainer-cartitems__card--group {
  width: 265px;
}
.checkout__container--aside_cartcontainer-cartitems__card--group_title {
  margin-bottom: 10px;
}
.checkout__container--aside_cartcontainer-cartitems__card--group_sum {
  color: #ACB0BA;
}
.checkout__container--aside_cartcontainer-cartitems__card--group_sum-price {
  color: #000000;
  margin-left: 10px;
}
.checkout__services {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  background-color: #F5F7FF;
  margin-top: 100px;
}/*# sourceMappingURL=checkout.css.map */