.faq {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__breadcrumb {
        width: 1400px;
    }
    &__h1 {
        width: 1400px;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    &__container {
        width: 1400px;
        display: flex;
        justify-content: space-between;
        &--main {
            width: 1039px;
            &_header {
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 50px;
            }
            &_answers {
                width: 100%;
            }
        }
        &--catalog {
            width: 327px;
            height: 332px;
            padding: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            background-color: #F5F7FF;
            &_link {
                cursor: pointer;
                &:first-of-type {
                    font-weight: 600;
                }
            }
        }
    }
    &__services {
        margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 50px 0px;
        background-color: #F5F7FF;
    }
}